<div class="new-app">
    <form class="new-app__form" action="">
        <div class="form__group">
            <label class="form__label" for="formAppName">Application Name</label>
            <input class="form__element" type="text" id="formAppName" placeholder="Application Name">
        </div>
        <div class="form__group">
            <label class="form__label has-desc" for="formAppType">Application Type</label>
            <span class="form__desc">Placeholder text.</span>
            <select class="form__element" id="formAppType">
                <option>Individual Contributor</option>
                <option>Aggregator</option>
            </select>
        </div>
        <div class="form__group">
            <label class="form__label" for="formDesc">Description</label>
            <textarea class="form__element" type="text" id="formDesc" placeholder="Description" rows="4"></textarea>
        </div>
        <div class="form__group">
            <label class="form__label" for="formURL">Application URL</label>
            <input class="form__element" type="text" id="formURL" placeholder="Application URL">
        </div>
        <div class="form__group">
            <label class="form__label" for="formAuth">OAuth 2.0 Redirect URIs</label>
            <input class="form__element" type="text" id="formAuth" placeholder="OAuth 2.0 Redirect URIs">
        </div>
    </form>
</div>