:host {
    display: block;
    height: 100vh;
    width: auto;
}

.sidebar {
    height: 100%;
    width: 240px;
    background: linear-gradient(to bottom, #004A97 0%, #003164 100%);
    background-size: 150% 150%;
    transition: width .5s ease;
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        z-index: 3;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &__nav {
        padding: 2rem 1.5rem;
        flex: 1;
        transition: padding .5s ease;
    }
    &__actions {
        color: white;
        padding: 2rem 1.5rem;
        transition: padding .5s ease;
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        padding: 1.5rem 2rem;
        border-radius: 6px;
        cursor: pointer;
        opacity: .8;
        &:hover {
            background-color: rgba(255, 255, 255, .13);
        }
        &:active {
            background-color: rgba(255, 255, 255, .23);
        }
    }
    &__link-text {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .05rem;
        transition: opacity .5s ease;
        white-space: nowrap;
    }
    &__link-icon {
        display: flex;
        align-items: center;
        flex: none;
        transition: rotate .5s ease;
        rotate: 0 0 1 0deg;
        & img {
            flex: none;
            width: 2rem;
            height: 2rem;
        }
    }
    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #004A97;
        background-size: cover;
        background-position: center bottom;
        background-blend-mode: multiply;
        opacity: .2;
        z-index: 1;
    }
}

.sidebar.is-compact {
    width: 90px;
    & .sidebar__branding {
        padding: 3rem 1.5rem 2rem 1.5rem;
    }
    & .sidebar__nav {
        padding: 1.5rem;
    }
    & .sidebar__actions {
        padding: 1.5rem;
    }
    & .sidebar__link {
        padding: 1.5rem 2rem;
        transition: padding .5s ease;
    }
    & .sidebar__link-text {
        opacity: 0;
    }
    & .sidebar__link-icon {
        rotate: 0 0 1 180deg;
    }
}

.logo {
    width: 150px;
}