<table id="appTable" class="data-table">
    <thead class="data-table__head">
        <tr class="data-table__row" role="row">
            <th class="data-table__cell data-table__label">Name</th>
            <th class="data-table__cell data-table__label">Environment</th>
            <th class="data-table__cell data-table__label">Status</th>
            <th class="data-table__cell data-table__label"></th>
        </tr>
    </thead>
    <tbody class="data-table__body">
        <tr class="data-table__row" role="row">
            <td class="data-table__cell">My Killer App</td>
            <td class="data-table__cell">
                <span class="badge badge--neutral">Production</span>
            </td>
            <td class="data-table__cell">
                <span class="badge badge--success">Active</span>
            </td>
            <td class="data-table__cell">
                <button class="btn btn--text u-p-0" (click)="openManageApp()">Manage</button>
            </td>
        </tr>
        <tr class="data-table__row" role="row">
            <td class="data-table__cell">App Testing</td>
            <td class="data-table__cell">
                <span class="badge badge--neutral">Sandbox</span>
            </td>
            <td class="data-table__cell">
                <span class="badge badge--danger">Inactive</span>
            </td>
            <td class="data-table__cell">
                <button class="btn btn--text u-p-0" (click)="openManageApp()">Manage</button>
            </td>
        </tr>
        <tr class="data-table__row" role="row">
            <td class="data-table__cell">Roofing 101</td>
            <td class="data-table__cell">
                <span class="badge badge--neutral">Production</span>
            </td>
            <td class="data-table__cell">
                <span class="badge badge--success">Active</span>
            </td>
            <td class="data-table__cell">
                <button class="btn btn--text u-p-0" (click)="openManageApp()">Manage</button>
            </td>
        </tr>
        <tr class="data-table__row" role="row">
            <td class="data-table__cell">Shingle All the Way</td>
            <td class="data-table__cell">
                <span class="badge badge--neutral">Production</span>
            </td>
            <td class="data-table__cell">
                <span class="badge badge--success">Active</span>
            </td>
            <td class="data-table__cell">
                <button class="btn btn--text u-p-0" (click)="openManageApp()">Manage</button>
            </td>
        </tr>
        <tr class="data-table__row" role="row">
            <td class="data-table__cell">Once Upon a Roof</td>
            <td class="data-table__cell">
                <span class="badge badge--neutral">Production</span>
            </td>
            <td class="data-table__cell">
                <span class="badge badge--success">Active</span>
            </td>
            <td class="data-table__cell">
                <button class="btn btn--text u-p-0" (click)="openManageApp()">Manage</button>
            </td>
        </tr>
        <tr class="data-table__row" role="row">
            <td class="data-table__cell">Up Top</td>
            <td class="data-table__cell">
                <span class="badge badge--neutral">Production</span>
            </td>
            <td class="data-table__cell">
                <span class="badge badge--success">Active</span>
            </td>
            <td class="data-table__cell">
                <button class="btn btn--text u-p-0" (click)="openManageApp()">Manage</button>
            </td>
        </tr>
        <tr class="data-table__row" role="row">
            <td class="data-table__cell">Windows to the Walls</td>
            <td class="data-table__cell">
                <span class="badge badge--neutral">Production</span>
            </td>
            <td class="data-table__cell">
                <span class="badge badge--success">Active</span>
            </td>
            <td class="data-table__cell">
                <button class="btn btn--text u-p-0" (click)="openManageApp()">Manage</button>
            </td>
        </tr>
    </tbody>
</table>