:host {
    width: 100%;
}

.login {
    width: 100%;
    display: flex;
    justify-content: center;
    &__card {
        width: 100%;
        max-width: 42rem;
    }
    &__heading {
        margin: 0 0 .5rem 0;
        font-size: 2.2rem;
        font-variation-settings: "wght" 200;
    }
}

.card {
    &__header {
        padding: 2rem 4rem 0 4rem;
        margin: 0;
        text-align: center;
    }
    &__body {
        padding: 1.5rem 4rem 1.5rem 4rem;
    }
    &__footer {
        background-color: #f1f2f3;
        justify-content: center;
        padding: 2rem 4rem;
        margin: 0;
    }
}

.form {
    &__row {
        display: flex;
        gap: 1.5rem;
    }
    &__group {
        flex: 1;
    }
    &__group-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}