<app-top-nav></app-top-nav>
<div class="login page">
    <div class="login__container container--max">
        <div class="login__form">
            <div class="login__card card card--depth-4">
                <div class="card__header">
                    <h3 class="login__form-title">Sign in to Your Account</h3>
                </div>
                <div class="card__body">
                    <form class="login__form-element" action="">
                        <div class="form__group">
                            <label class="form__label" for="formUsername">Username</label>
                            <input class="form__element" type="text" id="formUsername" placeholder="Username">
                        </div>
                        <div class="form__group">
                            <div class="form__group-section">
                                <label class="form__label" for="formPassword">Password</label>
                                <a href="#">Forgot Password?</a>
                            </div>
                            <input class="form__element" type="password" id="formLastName" placeholder="Password">
                        </div>
                        <div class="form__group">
                            <div class="form__check-group">
                                <input class="form__check" type="checkbox" value id="checkbox1">
                                <label class="form__label" for="checkbox1">Remember me on this device</label>
                            </div>
                        </div>
                        <div class="form__group">
                            <a class="btn btn--primary btn--expanded" [routerLink]="['/page', { outlets: { page: ['home'] } }]">Sign in to my Account</a>
                        </div>
                    </form>
                </div>
                <div class="card__footer">
                    <div class="login__footer-text">Don't have an ABC Developer Account? <a [routerLink]="'/login'">Create an Account</a></div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>