@import '../login/login.component.scss';


.org-code {
    &__code{
        display: flex;
        gap: .5rem;
        margin: 0 0 1rem 0;
    }
    &__element {
        text-align: center;
        font-size: 2.4rem;
        height: 5rem;
    }
}

/* For WebKit-based browsers (Chrome, Safari, Edge, Opera) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}