<footer class="footer">
    <div class="footer__row">
        <div class="footer__app">
            <img class="footer__app-img" src="../../../../assets/images/icon-appstore.svg" alt="Apple App Store" />
            <img class="footer__app-img" src="../../../../assets/images/icon-googleplay.svg" alt="Google Play Store" />
        </div>
    </div>
    <div class="footer__row">
        <div class="footer__links">
            <ul class="footer__links-list">
                <li class="footer__link"><a href="https://www.abcsupply.com/terms-of-sale/">Terms of Sale</a></li>
                <li class="footer__link"><a href="https://www.abcsupply.com/services/return-policy/">Return Policy</a></li>
                <li class="footer__link"><a href="https://www.abcsupply.com/terms-of-use/">Terms of Use</a></li>
                <li class="footer__link"><a href="https://www.abcsupply.com/api-terms-of-use/">API Terms of Use</a></li>
                <li class="footer__link"><a href="https://www.abcsupply.com/credit-terms-conditions/">Credit Terms &amp; Conditions</a></li>
                <li class="footer__link"><a href="https://www.abcsupply.com/purchase-order-terms-conditions/">Purchase Order Terms &amp; Conditions</a></li>
            </ul>
        </div>
        <div class="footer__copyright">
            <span>&copy; 2024 ABC Supply Co., Inc.</span>
        </div>
    </div>
</footer>