@import '../pages-shared.scss';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.landing {
    background-image: url("../../../../assets/images/abstract-bg.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;
        padding: 2rem 4rem;
    }
    &__copy {
        padding: 1rem 0;
        text-align: center;
    }
    &__heading {
        font-size: 4.2rem;
        margin: 0 0 1.5rem 0;
        font-variation-settings: "wght" 200;
        color: #003164;
    }
    &__card {
        width: 100%;
        min-width: 48rem;
    }
    &__login {
        width: 100%;
    }
}

.card {
    &__header {
        padding: 4rem 4rem 0 4rem;
        margin: 0;
    }
    &__body {
        padding: 2rem 4rem 3rem 4rem;
    }
    &__footer {
        background-color: #f1f2f3;
        justify-content: center;
        padding: 2rem 6rem;
        margin: 0;
    }
}

.form {
    &__row {
        display: flex;
        gap: 1.5rem;
    }
    &__group {
        flex: 1;
    }
}