<app-top-nav></app-top-nav>
<div class="landing page">
    <div class="landing__container container--max">
        <div class="landing__copy">
            <h2 class="landing__heading">Welcome to the ABC API Developer Portal</h2>
            <p class="landing__sub-heading">Access our APIs, manage your integrations, and build powerful connections to ABC Supply's account, product, pricing, and order data.</p>
        </div>
        <div class="landing__login">
            <router-outlet name="login"></router-outlet>
            <!-- <app-login></app-login> -->
        </div>
    </div>
</div>
<app-footer></app-footer>