<app-top-nav></app-top-nav>
<div class="signup page">
    <div class="signup__container container--max">
        <div class="signup__copy">
            <h2 class="signup__title">Welcome to the ABC Developer Portal</h2>
            <p class="signup__text">There's some text here about what this is all about, a prompt to sign up, maybe a few helpful links, or whatever have you.</p>
        </div>
        <div class="signup__form">
            <div class="signup__card card card--depth-4">
                <div class="card__header">
                    <h3 class="signup__form-title">Create Your ABC Developer Account</h3>
                </div>
                <div class="card__body">
                    <form class="signup__form-element" action="">
                        <div class="form__group">
                            <label class="form__label" for="formFirstName">First Name</label>
                            <input class="form__element" type="text" id="formFirstName" placeholder="First Name">
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="formLastName">Last Name</label>
                            <input class="form__element" type="text" id="formLastName" placeholder="Last Name">
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="formEmail">Email</label>
                            <input class="form__element" type="text" id="formEmail" placeholder="Email">
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="formAddress">Address</label>
                            <input class="form__element" type="text" id="formAddress" placeholder="Address">
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="formPhone">Phone</label>
                            <input class="form__element" type="text" id="formPhone" placeholder="Phone">
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="formCompany">Company</label>
                            <input class="form__element" type="text" id="formCompany" placeholder="Company">
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="formInterest">API's of Interest</label>
                            <select class="form__element" id="formInterest">
                                <option>Order API</option>
                                <option>Pricing API</option>
                                <option>Product API</option>
                                <option>Account API</option>
                                <option>Location API</option>
                                <option>Notification API</option>
                            </select>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="formInterest">How did you hear about us?</label>
                            <select class="form__element" id="formInterest">
                                <option>Website</option>
                                <option>Word of Mouth</option>
                                <option>Tradeshow</option>
                                <option>Search Engine</option>
                                <option>ABC Supply Website</option>
                                <option>Social Media</option>
                            </select>
                        </div>
                        <div class="form__group">
                            <div class="form__check-group">
                                <input class="form__check" type="checkbox" value id="checkbox1">
                                <label class="form__label" for="checkbox1">I agree to the&nbsp;<a>Terms and Conditions</a></label>
                            </div>
                        </div>
                        <div class="form__group">
                            <a class="btn btn--primary btn--expanded" [routerLink]="['/page', { outlets: { page: ['home'] } }]">Create My Developer Account</a>
                        </div>
                    </form>
                </div>
                <div class="card__footer">
                    <div class="signup__footer-text">Already have a Developer Account? <a [routerLink]="'/login'">Sign In</a></div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>