<div class="top-nav">
    <div class="top-nav__section">
        <div class="top-nav__branding">
            <a [routerLink]="'/signup'"><img class="top-nav__logo" src="../../../assets/images/ABC-logo-color.svg" alt="ABC Supply" /></a>
        </div>
        <div class="top-nav__title">
            <h1 class="top-nav__title-text">API Developer Portal</h1>
        </div>
    </div>
    <div class="top-nav__section">
        <a class="btn btn--small btn--outline" [routerLink]="['/page', { outlets: { page: ['admin'] } }]">Admin</a>
    </div>
</div>
