:host {
    flex: 1;
    width: 100%;
    height: auto;
}

.page {
    padding: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
    &__container {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    &__header {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__filters {
        display: flex;
        gap: 1.5rem;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        border-radius: 4px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        padding: 3rem 2rem
    }
}

