@import '../pages-shared.scss';

.account {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &__form {
        width: 100%;
        max-width: 36rem;
    }
}

.page {
    &__container {
        gap: 2rem;
    }
}