@import '../login/login.component.scss';

.link-accounts {
    &__image {
        border: 1px solid rgb(33, 122, 181);
        border-radius: 8px;
        padding: 2rem;
        width: 100%;
        max-width: 10rem;
        color: rgb(33, 122, 181)
    }
}

.card {
    &__body {
        display: flex;
        justify-content: center;
    }
    &__footer {
        flex-direction: column;
        gap: 1rem;
    }
}