<div class="login login-full">
    <div class="login__card card card--depth-4">
        <div class="card__header">
            <h3 class="login__heading">Sign In to Your Account</h3>
            <span class="login__sub-heading">Use your myABC or ABC API Developer credentials.</span>
        </div>
        <div class="card__body">
            <form class="login__form-element" action="">
                <div class="form__group">
                    <label class="form__label" for="formEmail">Email Address</label>
                    <input class="form__element" type="text" id="formEmail" placeholder="Email Address" value="test@emailaddress.com">
                </div>
                <div class="form__group">
                    <div class="form__group-section">
                        <label class="form__label" for="formPassword">Password</label>
                        <a class="login-full__forgot" href="#">Forgot Password?</a>
                    </div>
                    <input class="form__element" type="password" id="formPassword" placeholder="Password">
                </div>
                <div class="form__group">
                    <div class="form__check-group">
                        <input class="form__check" type="checkbox" value id="checkbox1">
                        <label class="form__label" for="checkbox1">Remember me on this device</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="card__footer">
             <a class="btn btn--primary btn--expanded" [routerLink]="['/signup', { outlets: { login: ['link-accounts'] } }]">Sign In to Your Account</a>
        </div>
    </div>
</div>