<div class="modal" 
    [ngClass]="classes" 
    [@modalAnimate]="{
        value: animationState,
        params: {
            enterPosition: 'translateX(0)',
            leavePosition: endPosition,
            enterOpacity: '1',
            leaveOpacity: modalType === 'window' ? '0' : '1',
            enterScale: '1',
            leaveScale: modalType === 'window' ? '.8' : '1'
        }
    }"
    (@modalAnimate.done)="onAnimationDone($event)"
    (click)="closeModalInstance()">
    <div class="modal__dialog" role="document" (click)="$event.stopPropagation()">
        <div class="modal__content">
            <div class="modal__top-bar" *ngIf="modalType === 'panel'">
                <button class="btn btn--text u-p-0 u-text-c-white" (click)="closeModalInstance()">Close</button>
            </div>
            <div class="modal__header">
                <h3 class="modal__title" id="leftPanelLabel" tabindex="-1">{{ title }}</h3>
            </div>
            <div class="modal__body">
                <div class="modal__body-content">
                    <ng-template #modalContent></ng-template>
                </div>
            </div>
            <div class="modal__footer">
                <div class="btn-group btn-group--inline">
                    <button type="button" class="btn btn--text btn--cancel u-p-0" (click)="closeModalInstance()">Cancel</button>
                    <button type="button" class="btn btn--primary btn--small" (click)="closeModalInstance()">{{ confirmText }}</button>
                </div>
            </div>
        </div>
    </div>        
</div>