        <div class="signup-form">
            <div class="signup-form__card card card--depth-4">
                <div class="card__header">
                    <h3 class="signup__form-title">Create Your ABC API Developer Organization</h3>
                </div>
                <div class="card__body">
                    <form class="signup-form__form" action="">
                        <div class="form__group">
                            <label class="form__label" for="formCompany">Name of Organization</label>
                            <input class="form__element" type="text" id="formCompany" placeholder="Company">
                        </div>
                        <div class="form__section">
                            <div class="form__group">
                                <label class="form__label" for="formFirstName">First Name</label>
                                <input class="form__element" type="text" id="formFirstName" placeholder="First Name">
                            </div>
                            <div class="form__group">
                                <label class="form__label" for="formLastName">Last Name</label>
                                <input class="form__element" type="text" id="formLastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="formAddress">Address</label>
                            <input class="form__element" type="text" id="formAddress" placeholder="Address">
                        </div>
                        <div class="form__section">
                            <div class="form__group">
                                <label class="form__label" for="formCity">City</label>
                                <input class="form__element" type="text" id="formcity" placeholder="City">
                            </div>
                            <div class="form__group">
                                <label class="form__label" for="formState">State</label>
                                <select class="form__element" id="formStatet">
                                    <option>Alablama</option>
                                    <option>Alaska</option>
                                    <option>Arizona</option>
                                    <option>Arkansas</option>
                                    <option>California</option>
                                    <option>Colorado</option>
                                    <option>Etc. Etc. Etc.</option>
                                </select>
                            </div>
                        </div>
                        <div class="form__section">
                            <div class="form__group">
                                <label class="form__label" for="formPhone">Phone</label>
                                <input class="form__element" type="text" id="formPhone" placeholder="Phone">
                            </div>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="formCompany">APIs of Interest</label>
                            <div class="form__check-group">
                                <input class="form__check" type="checkbox" value id="checkbox1">
                                <label class="form__label" for="checkbox1">Order API</label>
                            </div>
                            <div class="form__check-group">
                                <input class="form__check" type="checkbox" value id="checkbox2">
                                <label class="form__label" for="checkbox2">Pricing API</label>
                            </div>
                            <div class="form__check-group">
                                <input class="form__check" type="checkbox" value id="checkbox3">
                                <label class="form__label" for="checkbox3">Product API</label>
                            </div>
                             <div class="form__check-group">
                                <input class="form__check" type="checkbox" value id="checkbox4">
                                <label class="form__label" for="checkbox4">Account API</label>
                            </div>
                            <div class="form__check-group">
                                <input class="form__check" type="checkbox" value id="checkbox5">
                                <label class="form__label" for="checkbox5">Location API</label>
                            </div>
                            <div class="form__check-group">
                                <input class="form__check" type="checkbox" value id="checkbox6">
                                <label class="form__label" for="checkbox6">Notification API</label>
                            </div>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="formInterest">How did you hear about us?</label>
                            <select class="form__element" id="formInterest">
                                <option>Website</option>
                                <option>Word of Mouth</option>
                                <option>Tradeshow</option>
                                <option>Search Engine</option>
                                <option>ABC Supply Website</option>
                                <option>Social Media</option>
                            </select>
                        </div>
                        <div class="form__group">
                            <div class="form__check-group">
                                <input class="form__check" type="checkbox" value id="checkboxTerms">
                                <label class="form__label" for="checkboxTerms">I agree to the&nbsp;<a>Terms and Conditions</a></label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card__footer">
                    <a class="btn btn--success btn--primary btn--expanded" [routerLink]="['/page', { outlets: { page: ['home'] } }]">Complete ABC API Developer Account</a>
                </div>
            </div>
        </div>