.admin-manage-app {
    padding: 2rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &__actions {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
