<div class="prod-request">
    <form class="prod-request__form" action="">
        <div class="form__group">
            <label class="form__label" for="formInterest">Select App</label>
            <select class="form__element" id="formInterest">
                <option>My Killer App</option>
            </select>
        </div>
        <div class="form__group">
            <label class="form__label" for="formAppNae">Application Name</label>
            <input class="form__element" type="text" id="formAppName" placeholder="Application Name" value="My Killer App">
        </div>
        <div class="form__group">
            <label class="form__label" for="formDesc">Description</label>
            <textarea class="form__element" type="text" id="formDesc" placeholder="Description" rows="4"></textarea>
        </div>
        <div class="form__group">
            <label class="form__label" for="formURL">Application URL</label>
            <input class="form__element" type="text" id="formURL" placeholder="Application URL" value="https://www.myappisawesome.com">
        </div>
        <div class="form__group">
            <label class="form__label" for="formAuth">OAuth 2.0 Redirect URIs</label>
            <input class="form__element" type="text" id="formAuth" placeholder="OAuth 2.0 Redirect URIs" value="Something something or something">
        </div>
    </form>
</div>